body {
  background-color: orange;
  color: pink;
  font-size: xx-large;
}
h1 {
  color: green;
}
.main-header {
  color: aqua;
  text-align: center;
  margin: 60px;
}
.post {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: green;
}
.Einstein {
}
