body {
  background: linear-gradient(90deg, pink, yellow);
  color: pink;
  font-size: xx-large;
  font-family: "Open Sans Condensed", sans-serif;
}

.main-header {
  color: purple;
  text-align: center;
  margin: 60px;
}
.post {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: green;
}

.Alberts {
  width: 600px;
}
#Einstein {
  color: aqua;
}

#Gore {
  color: rgb(255, 0, 0);
}
#Consort {
  color: yellow;

