body {
  background: linear-gradient(90deg, pink, yellow);
  color: pink;
  font-size: xx-large;
  font-family: "Open Sans Condensed", sans-serif;
}

.main-header {
  color: aqua;
  text-align: center;
  margin: 60px;
}
.post {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: green;
}
#Einstein {
  color: red;
}
.Gore {
  width: 75%;
}
#Gore {
  color: red;
}
#Consort {
  color: red;
}
.Consort {
  width: 150px;
}
